ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    }
li {
    padding-left: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media only screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            margin: 0 auto;
            padding: 0 15px;
        }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    }


h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

/*header*/
.header-box {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
     }

.header-nav {
    display: flex;
    flex-direction: space-around;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-color {
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}

    .link-menu {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: row;
        gap: 40px;
  }

.link-menu-list {
padding: 24px 0;}

.link-menu-list:hover,
.link-menu-list:focus,
.link-menu-list.studio {
    color: #404BBF;
}

.link-menu-list.studio {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu-list.studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}


.contacts-block-list {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.contacts-block-list:hover,
.contacts-block-list:focus
 {
    color: #404bbf;
}

.contacts-list {
    display: flex;
align-items: center;
gap: 40px;
}

.contacts-block-list {
display: block;
}

/*Banner*/

.main-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner {
    background: #2e2f42;
        padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;}

.main-title {
    max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 48px;
}

.service-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        background: #4d5ae5;
       display: block;
        border-radius: 4px;
        min-width: 169px;
        height: 56px; 
    margin-right: auto;
margin-left: auto;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}


.service-button:hover,
.service-button:focus
{
    background: #404bbf;
}



/*benefits*/

.section {
    padding: 96px 16px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



@media only screen and (max-width: 1158px) {
    .icon-benefits {
        display: none;
    }
}


.benefits-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.benefits-container { 
    display: flex;
    flex-direction: column;
     gap: 72px;
     margin: 0 auto;
}

.benefits-container-list {
    max-width: 288px;
} 

/* Tablet benefits */
@media only screen and (min-width: 768px) {
    .benefits-container {
        max-width: 736px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
         row-gap: 72px;
      
    }

    .benefits-text {text-align: left;}

}


/* Desktop benefits */
@media only screen and (min-width: 1158px) {

.section {
        padding: 120px 15px;
    }


    .benefits-container {
     gap: 24px;
     flex-wrap: nowrap;
       }

  .benefits-text {
font-weight: 400; 
}

.benefits-container-list {
flex-basis: calc((100% - 72px) / 4);
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;

}
.icon-benefits {
    background-color: #F4F4FD;
    border: solid 1px #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
}

}





/*Team section*/

.our-team-section {
background: #f4f4fd; 

}

.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
    text-transform: capitalize;
 }



.section-title-team {
    margin-bottom: 72px;
}

.our-team-foto-block {
    display: block;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

.team-name-title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-team-section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 8px;
    
}

.our-team-container-block {
    max-width: 264px;
    display: flex;
    justify-content: center;
        flex-direction: column;
        gap: 72px;
        margin: 0 auto;
    }
       
.our-team-box {
padding: 32px 16px;
     text-align: center;
}


.social-icons {
        display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }
    

.social-icons-list {
    width: 40px;
    height: 40px;
}

.social-icons-link {
    background-color: #4D5AE5;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: #404BBF;
}
    
.social-icons {
     fill: #F4F4FD;
    
        }


        /* desktop Team*/
@media only screen and (min-width: 1158px) {

    .container-team {
        max-width: 1158px;
       margin: 0 auto;
       padding: 0 15px;
        
            
    }
    .our-team-container-block {
        max-width: 100%;
         flex-wrap: nowrap;
        justify-content: center;
    gap: 24px;
        
    }

.our-team-foto-block {
    flex-basis: calc((100% - 72px) / 4); }
    
    
 .section-title {
     font-weight: 500;
      font-size: 20px;
            line-height: 1.2;
            text-transform: capitalize;
        }

 .our-team-box {
            padding: 32px 15px;}

        
}

/* Tablet team*/

@media only screen and (min-width: 768px) {

.our-team-container-block {
    max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
         column-gap: 24px;
        row-gap: 64px;
    }

.section-title {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.11;
}
}

/*Portfolio*/


.section-title-portfolio {
     margin-bottom: 72px;
}

.portfolio-section-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

.portfolio-container-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
margin-bottom: 120px;
}

.portfolio-box {
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    }

 .portfolio-item-list { 
    width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-list:hover,
.portfolio-item-list:active {
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }

    .portfolio-title {
        margin-bottom: 8px;
    }
    
.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-text-overlay {
position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-list:hover .portfolio-text-overlay 
{
    transform: translateY(0%);
}


/*Footer*/

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
        }

.logo-footer-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    max-width: 264px;
    margin: auto 0;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}

.footer-logo-box {
    margin-right: 120px;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-icons-footer {
    display: flex;
        gap: 16px;
       }


.social-icons-list-footer{
width: 40px;
height: 40px;

}

.social-icons-link-footer {
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link-footer:hover,
.social-icons-link-footer:focus
 {
    background-color: #31D0AA;
}

.social-icons-footer {
    fill: #f4f4fd;

}




/*Subscribe form*/

.email-form-container {
margin-left: 80px;
}

.email-form { 
    display: flex;
        align-items: center;
        gap: 24px;
         }

.form-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        display: block;
}

.email-button {
    border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border-radius: 4px;
            padding: 8px 24px;
            min-width: 165px;
            height: 40px;
            background: #4d5ae5; 
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-button:hover, 
.email-button:focus {
    background-color: #404bbf;
}

.input-email-footer {
            border: 1px solid #fff;
            border-radius: 4px;
            width: 264px;
            height: 40px;
            background-color: transparent;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #fff;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            padding-left: 16px;
            outline: transparent;
}


.icons-email {
    fill: var(--white);
    margin-left: 16px;
}

.input-email-footer::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}

/*Modal window*/

.modal-overlay {
background-color: rgba(46, 47, 66, 0.4);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999;
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 4px;
        max-width: 408px;
        min-height: 584px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {opacity: 1;
pointer-events: auto;}


.modal-close-btn {
    position: absolute;
        top: 24px;
        right: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: #e7e9fc;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        padding: 0;
         outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icons-close {
fill: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: none;
}



.modal-close-btn:hover>svg,
.modal-close-btn:focus>svg {
    fill: #ffffff;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}






.modal-text {
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin: 16px;
                
}

.modal-input-title {
    display: inline-block;
font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.modal-input-box {
  margin-bottom: 8px;

}

.input-box {
display: flex;
position: relative;
align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    margin-bottom: 8px;

}



.modal-icons-input {
position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #8e8f99;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


 .comment-area {border: 1px solid rgba(46, 47, 66, 0.4);
 border-radius: 4px;
 width: 100%;
 height: 120px;
 outline: transparent;
 font-family: "Roboto",
 sans-serif;
 font-weight: 400;
 font-size: 12px;
 line-height: 1.17;
 letter-spacing: 0.04em;
 color: rgba(46, 47, 66, 0.4);
 background-color: transparent;
 resize: none;
 padding: 8px 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}



.modal-input:hover,
.modal-input:focus,
.comment-area:hover,
.comment-area:focus {
    border: 1px solid #4d5ae5;
}


.modal-input:hover + .modal-icons-input,
.modal-input:focus + .modal-icons-input {
    fill: #4d5ae5;
}

.modal-textarea-box {margin-bottom: 16px;}



.modal-checkbox {
display: flex;
align-items: center;
margin-bottom: 24px;
}

.privacy-policy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}


.modal-check-inp {
    margin-right: 8px;
    width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
}

.modal-check-inp:checked + .modal-input-title .pricy-policy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-checkbox .modal-input-title {
    margin: auto 0px;
}

.modal-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    text-decoration: underline;
}


.visually-hidden:checked + .modal-input-title .privacy-policy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
